/*
font-family: 'Nunito', sans-serif;
font-family: 'Raleway', sans-serif;

.color1 { #fb6f24 };
.color2 { #8ca315 };
.color3 { #5191c1, rgb(81, 145, 193) };
.color4 { #1e6495, rgb(30, 100, 149) };
.color5 { #0a4b75, rgb(10, 75, 117) };
*/


#body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#navegacao{
    width: 100%;
    height: 15%;
    position: fixed;
    top: 0vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1e6495;
}

#box-logo{
    width: auto;
    height: 60%;
}

#img-logo{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.div-nav{
    cursor: pointer;
}

.link-pages{
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 1.4vw;
    font-weight: 700;
    text-decoration: none;
}

.link-pages:hover{
    color: #fb6f24;
}

#home-page{
    width: 100%;
    height: 160%;
    position: absolute;
    top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#titulo{
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 3vw;
}

#box-1{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#foto-colegio-1{
    width: auto;
    height: 90%;
    border-radius: 2vw;
}

#txt-colegio{
    font-family: 'Raleway', sans-serif;
    width: 90%;
    font-size: 1.4vw;
    opacity: 1;
}

#box-txt-colegio{
    width: 35%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box-2{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#box-missao{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#box-visao{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulos-home{
    font-size: 2vw;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    color: #8ca315;
}

.txts-home{
    text-align: center;
    width: 90%;
    font-family: 'Raleway', sans-serif;
}

#box-3{
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.box-class{
    width: 20%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #5191c1;
    border-radius: 4vw;
}

.titulos-classes{
    font-size: 1.5vw;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;
}

.txts-classes{
    width: 90%;
    font-size: 1vw;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;
}

.imgs-classes{
    width: 85%;
    height: auto;
    border-radius: 1vw;
}

#final{
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: -90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0a4b75;
}

#txt-1-padding{
    color: white;
}

#txt-2-padding{
    color: white;
}
